h1, .heading-1{
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    color: $black;
    margin: 0 0 0.5rem 0;
    transition: color 0.3s ease-in-out;

    @include media-breakpoint-up(md){
        font-size: 40px;
        margin: 0 0 1.5rem 0;
    }

    @include media-breakpoint-up(xl){
        font-size: 50px;
        margin: 0 0 1.5rem 0;
    }

    @include media-breakpoint-up(xxl){
        font-size: 60px;
        margin: 0 0 1.5rem 0;
    }
}

h2, .heading-2{
    font-size: 40px;
    font-weight: 800;
    color: $black;
    margin: 0 0 1rem 0;
    transition: color 0.3s ease-in-out;
}
      
h3, .heading-3{
    font-size: 20px;
    font-weight: 800;
    color: $black;
    margin: 0 0 0.5rem 0;
    transition: color 0.3s ease-in-out;

    @include media-breakpoint-up(md){
        font-size: 24px;
        margin: 0 0 1rem 0;
    }
}

p{
    font-size: 12px;
    color: $black;
    margin: 0 0 1rem 0;

    @include media-breakpoint-up(md){
        font-size: 18px;
        margin: 0 0 1.5rem 0;
    }

    @include media-breakpoint-up(xl){
        font-size: 20px;
        margin: 0 0 1.75rem 0;
    }

    @include media-breakpoint-up(xxl){
        font-size: 22px;
        margin: 0 0 2rem 0;
    }

}

a{
    color: $black;
    text-decoration: none;
    transition: color .3s ease-in-out;

    &:hover{
        color: $cyan;
    }
}

.quote{
    position: relative;

    &::before{
        // position: absolute;
        // top: 0;
        // left: -2rem;
        content: '„';
    }

    &::after{
        content: '”'; 
    }
}
